body {
	font-family: 'Noto Sans', sans-serif;
	background: #caebf2;
}


h1, h2, h3, h4 {
	font-family: 'Roboto Mono', monospace;
}


p {
	color: red;
}


h3 {
	color: indigo;
}



.about-list-item {
	color: darkmagenta;
	font-style: italic;
}


#my-name {
	color: gold;
}


.container { 
	max-width: 840px;
	margin: 0 auto;
}

.container > div {
	margin: 20px auto;
}


.intro-section {
	text-align: center;
}


.i-am, .i-like {
	text-align: center;
}


.about-list {
	list-style: none;
}


.about-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}


@media (max-width: 480px) {
	.about-grid {
		grid-template-columns: 100%;
	}
}


.projects-header {
	text-align: center;
}


.image-grid {
	display: grid;
	grid-template-columns: 50% 50%;
}


@media (max-width: 640px) {
	.image-grid {
		grid-template-columns: 100%;
	}
}


.links-box {
	justify-self: center;
	padding: 5%;
}


.links-list {
	list-style: none;
	padding: 0;
}


.links-and-form {
	display: grid;
	grid-template-columns: 30% 70%;
	padding: 8%;
}


@media (max-width: 600px) {
	.links-and-form {
		grid-template-columns: 100%;
	}
}


.email-box, .message-box {
	padding: 5%;
}


form input, textarea {
	border-radius: 5px;
}


#profile-picture {
	border-radius: 50%;
	height: 150px;
	width: 150px;
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
	transition: all ease-in-out 0.2s;
}


#profile-picture:hover {
	box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
}


.project-image-wrapper {
	justify-self: center;
	padding: 2%;
	position: relative;
}


.image-item {
	border-radius: 5px;
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
	transition: all ease-in-out;
}


.image-item:hover {
	filter: brightness(0.75);
	box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
}


.project-image-wrapper > h4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: honeydew;
	visibility: hidden;
	z-index: 2;
	transition: all ease-in-out .2s;
}

.project-image-wrapper:hover > h4 {
	visibility: visible;
}


hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
